h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}
.details {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

td img {
  border-radius: 10px;
}

button {
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:focus {
  outline: none;
}

/* Định dạng cho các nút hành động */
button:first-of-type {
  background-color: #28a745;
  color: #fff;
}

button:last-of-type {
  background-color: #dc3545;
  color: #fff;
}

button:hover {
  opacity: 0.8;
}

/* Định dạng cho số lượng sản phẩm */
span {
  padding: 0 10px;
  font-size: 16px;
}

span, td {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .details {
    width: 95%;
    padding: 10px;
  }

  table, th, td {
    display: block;
    width: 100%;
  }

  th, td {
    text-align: right;
    padding: 8px 5px;
  }

  th {
    display: none;
  }

  td {
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: calc(50% - 10px);
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  td img {
    width: 100px;
    height: 100px;
  }
}
.grand-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.grand-total button {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  width: 200px;
  height: 50px;
}